---
import { sitePath } from '../../utils/paths';

const target = sitePath('/features/inventory');
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0; url=${target}`} />
    <title>Inventory | Homestead Keeper</title>
    <link rel="canonical" href={target} />
  </head>
  <body>
    <p><a href={target}>Continue to Inventory.</a></p>
  </body>
</html>
